@import '_variables';

.roadmap{
    margin: $sectionMargin;
    
    &__title{
        font-size: 3rem;
        font-family: $Quicksand;
        font-weight: bold;
        color: $pink;
    }

    &__subtitle{
        font-size: 1.8rem;
        font-family: $Quicksand;
        color: $pink;
    }
}
